<div class="container">
<div class="row" style="margin-top: 130px">

  <div class="col-2">
    <div class="side-wigi card my-4">
      <div class="card-header header_title"><h3><b>Filters</b></h3></div></br>

      <div class="container">
        <% @favtags.each do |v| %>
          <tr>
            <td><h5><span id="favtags_<%= v.id %>_favorites"><%= render partial: "favtags/favorites", :locals => { :v => v} %></span>  <%=v.name%> </h5></td></br>
          </tr>
        <% end %>

      </div>
      <%=link_to "Search", advanced_search_path, class: "btn btn-primary btn-md auth-btn filter-btn"%>
    </div>
  </div>
  <div class="col-10">
    <div class="container">
      <div class="table-responsive feed">
        <table class="table table-striped custab" cellspacing="0" id="recentActivity">
          <thead>
          <tr>

            <th>Thumbnail:</th>
            <th>Caption:</th>
            <th>Tags:</th>
            <th>View:</th>
          </tr>
          </thead>
          <% @myfeed.each do |v| %>
            <tr>
              <td><%=image_tag(v.thumbnail, alt: "logo", class: "card-img-top") %></td>
              <td><%= v.caption %></td>
              <td><%=v.tag_list %></td>
              <td><%= link_to photo_path(v.id), class: "btn btn-primary btn-xs" do %>
                  <i class="glyphicon glyphicon-view"></i> View
                <% end %></td>
            </tr>
          <%end %>
        </table>
      </div>




    </div>
  </div>

</div>
</div>

<script>

    $(function() {
        $('#recentActivity').DataTable({
            "aLengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            "iDisplayLength": 5,
            "language": {
                search: ""
            },

            "aoColumns": [
                null,
                null,
                null,
                null

            ]

        });
        $('#recentActivity').each(function () {
            var datatable = $(this);
            //SEARCH - Add the placeholder for Search and Turn this into in-line form control
            var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
            search_input.attr('placeholder', 'Enter Search Parameters');
            search_input.addClass("search-bar");
            search_input.removeClass('form-control-sm');
            // LENGTH - Inline-Form control
            var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
            length_sel.removeClass('form-control-sm');
        });
    });

</script>