<div class="main-container">



<%=link_to "Edit Profile", edit_user_registration_path, class: " btn btn-primary btn-lg auth-btn"%>

<%=link_to "Add Photo", new_photo_path, class: " btn btn-primary btn-lg auth-btn"%>

  <%=link_to "New Searchable TAG", new_favtag_path, class: "btn btn-primary btn-lg auth-btn"%>

<div class="container">
  <div class="table-responsive">
    <table class="table table-striped custab" cellspacing="0" id="recentActivity">
      <thead>
      <tr>

        <th>Caption:</th>
        <th>Tags:</th>
        <th>View:</th>
        <th>Edit:</th>
        <th>Delete:</th>
      </tr>
      </thead>
      <% @myphotos.each do |v| %>
        <tr>
          <td><%= v.caption %></td>
          <td><%= v.tag_list %></td>
          <td><%= link_to photo_path(v.id), class: "btn btn-primary btn-xs" do %>
              <i class="glyphicon glyphicon-view"></i> View
            <% end %></td>
          <td><%= link_to edit_photo_path(v.id), class: "btn btn-success btn-xs" ,form: {style: 'display:inline-block;'} do %>
              <i class="glyphicon glyphicon-edit"></i> Edit <%end %></td>
          <td><%= button_to photo_path(v.id),method: :delete,data: {confirm: "Are you sure you want to delete this photo?"}, class: "btn btn-danger btn-xs",form: {style: 'display:inline-block;'} do %>
              <i class="glyphicon glyphicon-trash"></i> Delete
            <% end %></td>
        </tr>
      <%end %>
    </table>
  </div>




</div>
</div>

<script>

    $(function() {
        $('#recentActivity').DataTable({
            "aLengthMenu": [
                [5, 10, 15, -1],
                [5, 10, 15, "All"]
            ],
            "iDisplayLength": 5,
            "language": {
                search: ""
            },

            "aoColumns": [
                null,
                null,
                null,
                null,
                null
            ]

        });
        $('#recentActivity').each(function () {
            var datatable = $(this);
            //SEARCH - Add the placeholder for Search and Turn this into in-line form control
            var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
            search_input.attr('placeholder', 'Search');
            search_input.removeClass('form-control-sm');
            // LENGTH - Inline-Form control
            var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
            length_sel.removeClass('form-control-sm');
        });
    });

</script>