<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">

    <%= link_to image_tag("GSF-logo.jpg", alt: "logo", class: "navbar-brand logo-img"), root_path%>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <%if current_user %>

        <div class="nav-item profile-slug dropdown">
          <a class=" nav-link dropdown dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="icon"><i class="fas fa-user fa-md"></i></span>
            <span id="user-name"  valign="center" class="profile-link "><%= current_user.first_name %></span>
          </a>
          <div class="dropdown-menu dropdown-content profile-pannel " aria-labelledby="navbarDropdown">
            <div class="container dd">
              <%= link_to 'Profile', profile_path, class: 'auth-btn mr-auto ml-auto my-auto'%>
              <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'auth-btn mr-auto ml-auto my-auto'%>

            </div>
          </div>
        </div>

      <%else %>
        <%=link_to "Login", login_path, class: " auth-btn"%>
        <%=link_to "Signup", signup_path, class: "auth-btn" %>
      <%end %>

    </form>

  </div>
</nav>